h1 {
	font-family: "Raleway", san-serif;
	/*font-weight: 200;*/
	/*font-size: 3em;*/
	color: #0D2C40;
	font-weight: 400;
	font-size: 45px;
	letter-spacing: 1px;
	margin: 0;

}
h2 {
	font-family: "Raleway", san-serif;
	/*font-weight: 200;*/
	/*font-size: 3em;*/
	/*color: #0D2C40;
	font-weight: 700;
	font-size: 19px;
	letter-spacing: 1px;*/
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;

}
body {
	background-color: #eef2f2;
	text-align: center;
	margin: 0;
}
.cards {
	box-shadow: 5px 5px 6px black;
	margin: 40 8px;
	
}

p{
	font-family: "Droid Serif", serif;
	/*font-family: "Raleway", serif;*/
	color: #0D2C40;
	line-height: 26px;
	letter-spacing: 1px;
	font-size: 18px;
}

a{
	text-decoration: none;
	/*font-weight: 700;*/
/*	color: #F15B21;*/
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;

}
header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}
nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0;
}

nav a {
	margin: 0 20px;
	color: #FFFFFF;
	border-bottom: 2px solid transparent;


}
a {
	margin: 0 20px;
	color: #FFFFFF;
	border-bottom: 2px solid transparent;


}
nav a:hover {
	margin: 0 20px;
	color: #FFFFFF;
	border-bottom: 2px solid white;

}
main {
	width: 850px;
	margin: 35px auto;
}
footer{
	background-color: #0D2C40;
	text-transform: uppercase;
	padding: 0 20px;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright {
	float: left;
	color: white;
}
.message {
	float:right;
	color: white;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
.name{
	color: #F15B31;
	font-weight: 700;
}